:root {
  --column-size: 300px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 41, 54);
  font-family: 'Zen Kurenaido';
}

header {
  display: flex;
  width: 100%;
  padding: 5px 0;
  top: 0;
  position: sticky;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

header h1 {
  margin: 0 20px;
  padding: 10px 0;
}

.filters {
  display: flex;
  margin: 0 20px;
  font-size: 1.1em;
  top: 15px;
  position: relative;
}

@media (max-width:980px)  {
  header {
    display: block;
    width: 100%;
    padding: 5px 0;
    top: 0;
    position: sticky;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
  }

  .filters {
    display: block;
    margin: 0 20px;
    top: 0;
    font-size: 1.1em;
  }
}

button {
  font-family: inherit;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

input {
  font-family: inherit;
  font-size: 1em;
  border: none;
  font-weight: bold;

  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
}

select {
  font-family: inherit;
  font-size: 1em;
  border: none;
  font-weight: bold;

  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
select option{
  font-family: inherit;
  font-size: 1em;
  border: none;
  font-weight: bold;
}

.filters div {
  margin-right: 30px;
  font-family: 'Zen Kurenaido';
}

#total {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: white;
}

#loading-screen {
  display: none;
  position: absolute;
  left: 10%;
  width: 85%;
  min-width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.masonry-container {
   width: 80%;
   margin: 30px 10% 0 10%;
   display: grid;
   /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
   grid-template-columns: repeat(auto-fill, minmax(var(--column-size), var(--column-size)));
   gap: 10px;
   justify-content: center;
   align-items: center;
}

.artwork {
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    cursor: pointer;
}

p.title {
  font-size: 1em;
  margin: 10px 20px;
}

span.title {
  font-size: 0.9em;
  font-kerning: normal;
}

#artworks {
  min-height: 50vh;
}

#artworks img {
  max-width: var(--column-size);
  max-height: 550px;
  align-self: center;
}

@media (min-width:500px)  {
  .popup {
    display: none;
    position: fixed;
    width: 85%;
    min-width: 500px;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    z-index: 100;
  }
  
  .popup-content {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
}

.popup-grid {
  display: flex;
  flex-direction: column;
}

.popup-grid img {
  max-width: 100%;
  max-height: 500px;
  margin: auto;
}

@media (max-width:500px)  {
  .popup {
    display: none;
    position: fixed;
    min-width: 300px;
    height: 95%;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    background: white;
    z-index: 100;
  }

  .popup-content {
    text-align: left;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .popup-content::-webkit-scrollbar {
    display: none;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
  }
}

#show-more {
  display: flex;
  justify-content: center;
}

#show-more button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

#show-more button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

button:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  position: relative;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  z-index: 20;
}

footer p {
  margin: 0 40px;
}

a {
  color: black;
  text-decoration: none;
}